/* Footer Specific Styles Partial */
footer {
    background-color: $clr-purple;
    color: $clr-white;
    position: fixed;
    bottom: 0;
    width: 100%;

    .flexContainer {
        justify-content: center;
    }
}