/* Header Specific Styles Partial */

header {
    background-color: $clr-purple;
    color: $clr-white;

    h1 {
        color: $clr-limeGreen;
        margin-bottom: 0;
    }

    .flexContainer {
        flex-direction: column-reverse;
    }
    .headerNav {
        width: 100%;
    }
    .headerNavList {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    li {
        text-align: center;
    }
    button {
        color: $clr-white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $clr-purple;
        border: none;
        border-bottom: 4px solid $clr-white;

        .aboutIcon,
        .leaderboardIcon {
            padding-right: 5px;
        }

        .aboutIcon {
            padding-left: 20px;
        }

        &:active,
        &:hover,
        &:focus {
            color: $clr-limeGreen;
            border-bottom: 4px solid $clr-limeGreen;
        }
    }
    .tabActive {
        p {
            color: $clr-limeGreen;
        }
        .aboutIcon,
        .leaderboardIcon {
            color: $clr-limeGreen;
        }
        border-bottom: 4px solid $clr-limeGreen;
    }
}