/* Slide Out styling partial */

.slideOutMenu {
  position: absolute;
  left: -100000px;
  width: 100%;
  background-color: $clr-white;

  .leaderboardSection {
    width: 100%;
    background-color: $clr-white;
    display: flex;
    flex-direction: column;

  }
  .leaderTopMenu {
    max-height: 365px;
    max-width: 350px;
    overflow-y: auto;
  }

  .hideMenuButton {
    display: flex;
    align-items: center;
    background-color: $clr-white;
    border: none;
  }
}

.slideOutMenuOpen {
  position: static;
  left: 0;
}
