/* Slide Out styling partial */

.slideOutMenu {
  position: absolute;
  left: -100000px;
  width: 100%;
  height: 100%;
  background-color: $clr-white;
  z-index: 50;

  a {
    color: $clr-purple;
  }

  .leaderboardSection {
    width: 100%;
    background-color: $clr-white;
    display: flex;
    flex-direction: column;
  }
  .leaderTopMenu {
    max-height: 365px;
    max-width: 350px;
    overflow-y: auto;
  }

  .hideMenuButton {
    display: flex;
    align-items: center;
    background-color: $clr-white;
    border: none;
    cursor: pointer;
  }
}

.slideOutMenuOpen {
  left: 0;
  top: -20px;
  margin-top: -30px;
}

.hideMenuIcon {
  padding-right: 5px;
  cursor: pointer;
}
