.aboutSection {
    background-color: $clr-white;
    margin-top: 40px;
    padding-bottom: 100px;
    .aboutTopMenu {
        max-height: 365px;
        overflow-y: auto;
    }
    img {
        width: 65%;
        max-width: 250px;
        margin: 0 auto;
        display: block;
        border: 10px solid $clr-purple;
    }
}