// Game Over page styling partial


.bookCover.backCover {
    h2 {
        color: $clr-limeGreen;
    }
    ul {
        list-style-type: disc;
        text-align: left;
        list-style-position: inside;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .usernameInput {
        width: 95%;
        margin: 25px auto;
    }
}