/* Landing Page Partial */

.bookCover {
  width: 100%;
  max-width: 305px;
  height: 500px;
  background-color: $clr-purple;
  margin: 5px auto;
  padding-top: 5px;
  box-shadow: 15px 17px 24px -5px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 15px 17px 24px -5px rgba(0, 0, 0, 0.38);
  position: relative;
  border-radius: 3px;
}

.pagesContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;

  .topPages {
    background-color: $clr-white;
    width: 299px;
    height: 20px;
    margin-right: -5px;
    border-radius: 5px;
  }

  .sidePages {
    background-color: $clr-white;
    height: 495px;
    width: 5px;
    border-radius: 3px;
    margin-right: 2px;
  }
}

.bookCoverContent {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: $clr-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;

  .bookTitle {
    @include fontSize($size-h1);
    width: 65%;
    @include lineHeight($height-h1);
    margin: 30px auto 10px auto;
  }

  .bookTitleUnderline {
    height: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: $clr-limeGreen;
  }

  .flexContainer {
    flex-direction: column;
  }
}

.firstEdition,
.volumeOne,
.junoPress {
  @include fontSize($size-h3);
  @include lineHeight($height-h3);
  margin: 10px;
}

.firstEdition {
  text-transform: uppercase;
}
