//Media queries - game page

@media (min-width: 730px) {
  .score,
  .progressBar {
    width: 67%;
    margin: 0 auto;
  }

  .score {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .questionNumber,
  .definition {
    width: 70%;
    margin: 0 auto;
    transition: 0.5s;
  }

  .questionForm {
    width: 70%;
    height: 338px;
    transition: 0.5s;
  }

  fieldSet {
    .squigglyText {
      max-width: 200px;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 850px) {
  //Score and progress bar
  .score,
  .progressBar {
    width: 57%;
  }

  .score {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  //Questions
  .questionNumber,
  .definition {
    width: 60%;
  }

  .definition {
    height: auto;
  }

  .questionForm {
    width: 60%;
  }

  fieldSet {
    .squigglyText {
      font-size: 1.8rem;
      margin: 30px 0;
      transition: 0.5s;
      max-width: 100%;
    }
  }
}
