/* Variables Partial */

/* Font Family */
$ff-headingFont: 'Josefin Slab', san-serif;
$ff-bodyFont: 'Lato', san-serif;

/* Font Weight */
$fw-regular: 400;
$fw-semiBold: 500;
$fw-bold: 700;

/* Colours*/
$clr-white: rgba(255, 255, 255, 1);
$clr-black: rgba(0, 0, 0, 1);
$clr-purple: rgba(96, 86, 249, 1);
$clr-limeGreen: rgba(207, 255, 49, 1);
$clr-lightBlue: rgba(227, 244, 243,1)
