/* Variables Partial */
/* Font Family */
/* Font Weight */
/* Colours*/
/* Font Sizes */
/* Mixins Partial */
/* Setup Styles Partial */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Typography Styles Partial */
html, body {
  font-size: 125%;
  font-family: "Lato", san-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, span.wordType {
  font-family: "Josefin Slab", san-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 2px;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h3, span.wordType {
  font-size: 1.15rem;
  line-height: 1.725rem;
}

p,
table,
li,
input {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.backCoverJuno {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

/* Base Styles Partial */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 244, 243);
  height: 100vh;
}

.App {
  height: 100vh;
}

main {
  position: relative;
  height: 100%;
}

.wrapper {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(207, 255, 49);
}
a:visited {
  color: rgb(207, 255, 49);
}

.mainMenuControls,
.nextQ,
.restartGame {
  font-size: 1rem;
  font-family: "Lato", san-serif;
  background-color: rgb(207, 255, 49);
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  height: 53px;
  width: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 5px auto;
  cursor: pointer;
}
.mainMenuControls:visited,
.nextQ:visited,
.restartGame:visited {
  color: rgb(0, 0, 0);
}
.mainMenuControls .buttonIcon,
.nextQ .buttonIcon,
.restartGame .buttonIcon {
  padding: 0 5px;
}

h2,
h3 {
  margin: 10px 0;
}

button {
  cursor: pointer;
}

/* Header Specific Styles Partial */
header {
  background-color: rgb(96, 86, 249);
  color: rgb(255, 255, 255);
}
header h1 {
  color: rgb(207, 255, 49);
  margin-bottom: 0;
}
header .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
header .headerNav {
  width: 100%;
}
header .headerNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
header li {
  text-align: center;
}
header button {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(96, 86, 249);
  border: none;
  border-bottom: 4px solid rgb(255, 255, 255);
}
header button .aboutIcon,
header button .leaderboardIcon {
  padding-right: 5px;
}
header button .aboutIcon {
  padding-left: 20px;
}
header button:hover, header button:focus {
  color: rgba(207, 255, 49, 0.6);
  border-bottom: 4px solid rgba(207, 255, 49, 0.6);
}
header button:active {
  color: rgb(207, 255, 49);
  border-bottom: 4px solid rgb(207, 255, 49);
}
header .tabActive {
  border-bottom: 4px solid rgb(207, 255, 49);
}
header .tabActive p {
  color: rgb(207, 255, 49);
}
header .tabActive .aboutIcon,
header .tabActive .leaderboardIcon {
  color: rgb(207, 255, 49);
}

/* Slide Out styling partial */
.slideOutMenu {
  position: absolute;
  left: -100000px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 50;
}
.slideOutMenu a {
  color: rgb(96, 86, 249);
}
.slideOutMenu .leaderboardSection {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.slideOutMenu .leaderboardSection table {
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-collapse: collapse;
  width: 100%;
}
.slideOutMenu .leaderboardSection th {
  background: rgb(96, 86, 249);
  color: rgb(255, 255, 255);
}
.slideOutMenu .leaderboardSection th,
.slideOutMenu .leaderboardSection td,
.slideOutMenu .leaderboardSection tr {
  border: 2px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 4px;
}
.slideOutMenu .leaderTopMenu {
  max-height: 365px;
  max-width: 350px;
  overflow-y: auto;
}
.slideOutMenu .hideMenuButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  padding-bottom: 50px;
}

.slideOutMenuOpen {
  left: 0;
  top: 0;
}

.hideMenuIcon {
  padding-right: 5px;
  cursor: pointer;
}

.lowerMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -5000px;
  -webkit-transition: unset;
  transition: unset;
}
.modal .modalMessageBox {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  width: 300px;
  border: 10px solid rgb(96, 86, 249);
  z-index: 60;
}
.modal .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal p {
  max-width: 400px;
}

.modalOpen {
  left: 0;
}

.closeModal {
  position: fixed;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: transparent;
  border: none;
  outline: none;
}

/* LeaderboardForm styling partial */
.usernameInput {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(96, 86, 249);
  border: none;
  border-bottom: 4px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.usernameInput:focus, .usernameInput:hover, .usernameInput:active {
  border-bottom: 4px solid rgb(207, 255, 49);
  color: rgb(207, 255, 49);
}
.usernameInput:focus::-webkit-input-placeholder, .usernameInput:hover::-webkit-input-placeholder, .usernameInput:active::-webkit-input-placeholder {
  color: rgb(207, 255, 49);
  opacity: 1;
}
.usernameInput:focus::-moz-placeholder, .usernameInput:hover::-moz-placeholder, .usernameInput:active::-moz-placeholder {
  color: rgb(207, 255, 49);
  opacity: 1;
}
.usernameInput:focus:-ms-input-placeholder, .usernameInput:hover:-ms-input-placeholder, .usernameInput:active:-ms-input-placeholder {
  color: rgb(207, 255, 49);
  opacity: 1;
}
.usernameInput:focus::-ms-input-placeholder, .usernameInput:hover::-ms-input-placeholder, .usernameInput:active::-ms-input-placeholder {
  color: rgb(207, 255, 49);
  opacity: 1;
}
.usernameInput:focus::placeholder, .usernameInput:hover::placeholder, .usernameInput:active::placeholder {
  color: rgb(207, 255, 49);
  opacity: 1;
}
.usernameInput::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.usernameInput::-moz-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.usernameInput:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.usernameInput::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.usernameInput::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

/* Footer Specific Styles Partial */
footer {
  background-color: rgb(96, 86, 249);
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  z-index: 50;
  width: 100%;
}
footer .flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  line-height: 1.35rem;
}

/* Home Page Specific Styles Partial */
/* Game Page Specific Styles Partial */
.progress-bar {
  background: rgb(96, 86, 249);
  width: 100%;
  height: 50px;
  margin-top: 25px;
}
.progress-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.green-progress-icon {
  color: rgb(207, 255, 49);
}

.red-progress-icon {
  color: rgb(214, 69, 65);
}

.white-progress-icon {
  color: rgb(255, 255, 255);
}

.score {
  text-align: center;
  background-color: rgb(96, 86, 249);
  color: rgb(255, 255, 255);
  margin: 0;
}
.score .scoreIcon {
  padding-right: 5px;
}

.questionNumber {
  margin-top: 20px;
}

.definition {
  height: 100px;
}

.wordType {
  display: block;
  font-weight: bolder;
}

.questionForm {
  margin: 50px auto 10px auto;
  border-top: 4px solid rgb(96, 86, 249);
  border-bottom: 4px solid rgb(96, 86, 249);
  border-right: 8px solid rgb(96, 86, 249);
  border-left: 8px solid rgb(96, 86, 249);
  background-color: rgb(255, 255, 255);
  height: 200px;
}
.questionForm input[type=radio] {
  opacity: 0;
  position: absolute;
  left: -10000px;
}
.questionForm label {
  cursor: pointer;
  font-weight: bolder;
  padding: 0 10px;
}

fieldset {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
fieldset .wordOneContainer {
  border-right: 1px solid rgb(96, 86, 249);
}
fieldset .wordOneContainer,
fieldset .wordTwoContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
fieldset .squigglyText {
  margin: 0;
  font-family: "Redacted Script", cursive;
  font-weight: 400;
}

@media (min-width: 800px) {
  .questionForm {
    width: 70%;
    height: 300px;
  }

  .questionNumber,
.definition {
    width: 70%;
    margin: 0 auto;
  }

  .score,
.progress-bar {
    width: 67%;
    margin: 0 auto;
  }

  .progress-bar {
    margin-top: 30px;
  }

  .score {
    margin-bottom: 20px;
  }
}
.aboutSection {
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  overflow-y: auto;
}
.aboutSection img {
  width: 65%;
  margin: 0 auto;
  display: block;
  border: 10px solid rgb(96, 86, 249);
}

/* Landing Page Partial */
.bookCover {
  width: 100%;
  max-width: 305px;
  height: 500px;
  background-color: rgb(96, 86, 249);
  margin: 5px auto;
  padding-top: 5px;
  box-shadow: 15px 17px 24px -5px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 15px 17px 24px -5px rgba(0, 0, 0, 0.38);
  position: relative;
  border-radius: 3px;
}

.pagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
}
.pagesContainer .topPages {
  background-color: rgb(255, 255, 255);
  width: 299px;
  height: 20px;
  margin-right: -5px;
  border-radius: 5px;
}
.pagesContainer .sidePages {
  background-color: rgb(255, 255, 255);
  height: 495px;
  width: 5px;
  border-radius: 3px;
  margin-right: 2px;
}

.bookCoverContent {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.bookCoverContent .bookTitle {
  font-size: 2rem;
  width: 65%;
  line-height: 3rem;
  margin: 30px auto 10px auto;
}
.bookCoverContent .bookTitleUnderline {
  height: 5px;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(207, 255, 49);
}
.bookCoverContent .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstEdition,
.volumeOne,
.junoPress {
  font-size: 1.15rem;
  line-height: 1.725rem;
  margin: 10px;
}

.firstEdition {
  text-transform: uppercase;
}

.bookCover.backCover {
  width: 100%;
  max-width: 305px;
  height: 500px;
  margin-top: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bookCover.backCover .pagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 5px;
}
.bookCover.backCover .pagesContainer .topBackPages {
  background-color: rgb(255, 255, 255);
  width: 299px;
  height: 20px;
  border-radius: 5px;
  margin-left: -5px;
}
.bookCover.backCover .pagesContainer .sideBackPages {
  background-color: rgb(255, 255, 255);
  height: 495px;
  width: 5px;
  border-radius: 3px;
  margin-left: 2px;
}
.bookCover.backCover .bookCoverContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 95%;
  width: 95%;
}
.bookCover.backCover .bookCoverContent p {
  width: 200px;
}
.bookCover.backCover .bookCoverContent h2 {
  color: rgb(207, 255, 49);
  margin-top: 2px;
}
.bookCover.backCover .bookCoverContent ul {
  list-style-type: disc;
  text-align: left;
  list-style-position: outside;
  margin-left: 30px;
  padding-bottom: 15px;
  text-indent: 0px;
}
.bookCover.backCover .bookCoverContent li {
  padding: 5px 0;
}
.bookCover.backCover .bookCoverContent .backCoverJuno {
  color: rgb(207, 255, 49);
  text-align: left;
  position: absolute;
  left: 5px;
  bottom: -15px;
}
.bookCover.backCover .bookCoverContent .barcode {
  width: 75px;
  display: block;
  height: auto;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: -5px;
}