/* Base Styles Partial */

body {
  @include resetBox;
  background-color: $clr-lightBlue;
  height: 100vh;
}

.App {
  height: 100vh;
}

main {
  position: relative;
  height: 100%;
}

.wrapper {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.flexContainer {
  display: flex;
}

ul {
  list-style: none;
  @include resetBox;
}

a {
  color: $clr-limeGreen;
  &:visited {
    color: $clr-limeGreen;
  }
}

.mainMenuControls, 
.nextQ {
  @include fontSize($size-desktop-p);
  font-family: $ff-bodyFont;
  background-color: $clr-limeGreen;
  text-decoration: none;
  border: 1px solid $clr-black;
  border-radius: 5px;
  color: $clr-black;
  height: 53px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5px auto;
  cursor: pointer;

  &:visited {
    color: $clr-black;
  }

  .buttonIcon {
    padding: 0 10px;
  }
}

h2, h3 {
  margin: 10px 0;
}

button {
  cursor: pointer;
}


