/* Base Styles Partial */

body {
  @include resetBox;
  background-color: $clr-lightBlue;
  height: 100vh;
}

.wrapper {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
}

ul {
  list-style: none;
  @include resetBox;
}

a {
  color: $clr-limeGreen;
  &:visited {
    color: $clr-limeGreen;
  }
}

.mainMenuControls {
  height: 53px;
  width: 152px;
  background-color: $clr-limeGreen;
  color: $clr-black;
  border: 1px solid $clr-black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  text-decoration: none;
  @include fontSize($size-desktop-p);
  margin-bottom: 5px;
  cursor: pointer;
  font-family: $ff-bodyFont;

  &:visited {
    color: $clr-black;
  }

  .buttonIcon {
    padding: 0 10px;
  }
}
