/* Typography Styles Partial */

html, body {
    font-size: 125%;
    font-family: $ff-bodyFont;
    font-weight: $fw-regular;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-headingFont;
    font-weight: $fw-bold;
}

h1 {
    @include fontSize($size-mobile-h1);
    @include lineHeight($height-h1);
    text-align: center;
}

h2 {
    @include fontSize($size-h2);
    @include lineHeight($height-h2);
}

h3 {
    @include fontSize($size-h3);
    @include lineHeight($height-h3);
}

p,
table, 
li {
    @include fontSize($size-mobile-p);
    @include lineHeight($height-mobile-p);
}